html,
body,
#root,
.app {
  height: 100%;
}

.app {
  --outline-color: #76cc00;
  background-image: url("assets/skelatal_weave.png");
}

.app :focus-visible {
  outline-color: var(--outline-color);
}

footer {
  display: flex;
  justify-content: left;
}

.logo-edamam {
  height: 50px;
}
