html,
body,
#root,
.app {
  height: 100%;
  --outline-color: #76cc00;
  /* --background-color: #efefef; */
  --padding: 16px;
  /* --fontColor: #616e7c; */
}

.app {
  background-image: url("assets/skelatal_weave.png");
  background-color: var(--background-color);
}

.app :focus-visible {
  outline-color: var(--outline-color);
}

footer {
  display: flex;
  justify-content: left;
}

.logo-edamam {
  display: block;
  height: 50px;
}
